::-webkit-scrollbar {
  background-color: var(--backgrounddarker);
  width: 8px;
}

::-webkit-scrollbar-button {
  background-color: var(--selector-max-compound-selectors);
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--tiles1)), to(var(--tiles1)));
  background: linear-gradient(var(--tiles1), var(--tiles1));
  border-radius: 10px;
}

input,
select,
textarea {
  border: 0;
}

input::-webkit-color-swatch {
  border: 0;
  border-radius: 6px;
}

:root {
  --center-color: #171721;
  --right_background: #14141c;
  --timerFinishColor: rgba(49, 63, 124, 0.725);
  --statColor: #22222c;
  --backgrounddarker: #14141c;
  --header_background: #161624;
  --left_background: #14141c;
  --nav_color: #14141c;
  --task_color: #28222c;
  --timer: linear-gradient(246.9deg, rgba(206, 76, 76, 0.65) 56.87%, rgba(202, 84, 84, 0.904515) 79.48%, rgba(197, 93, 93, 0.75) 96.13%);
  --addProject: linear-gradient(147.14deg, rgba(0, 0, 0, 0.7) 18.33%, rgba(0, 0, 0, 0.5) 77.77%);
  --number-color: #f1998f;
  --light-color: #a9ded8;
  --font-color: #fff;
  --addProjectbtn: #b17676;
  --shadow: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
  --hover_color: #fafafa;
  --dark-font: #fff;
  --fonts: #fff;
  --task: #23222d;
  --tiles1: #4e344d;
  --tiles2: #955165;
  --tiles3: #fab261;
  --tiles4: #083513;
  --tiles5: #300d30;
  --tiles6: #383b0f;
  --tiles7: #3a0505;
  --tiles8: #017514;
  --inputbackground: linear-gradient(147.14deg, rgba(0, 0, 0, 0.7) 18.33%, rgba(0, 0, 0, 0.2) 77.77%);
}

::-webkit-scrollbar-thumb:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(var(--tiles2)));
  background: linear-gradient(transparent, var(--tiles2));
}

.lightTheme {
  --center-color: #f7f6f0;
  --right_background: #abada2;
  --timerFinishColor: rgba(255, 255, 255, 0.725);
  --backgrounddarker: #000000;
  --header_background: #24282c;
  --statColor: #f2f1ea;
  --left_background: #fff;
  --nav_color: #ccc;
  --task_color: #242323;
  --timer: linear-gradient(246.9deg, rgba(206, 76, 76, 0.65) 56.87%, rgba(202, 84, 84, 0.904515) 79.48%, rgba(197, 93, 93, 0.75) 96.13%);
  --addProject: linear-gradient(147.14deg, rgba(0, 0, 0, 0.7) 18.33%, rgba(0, 0, 0, 0.5) 77.77%);
  --number-color: #642727;
  --light-color: #aa9b9b;
  --font-color: #572525;
  --addProjectbtn: #e0e0e0;
  --shadow: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
  --hover_color: #363333;
  --dark-font: #ccbaba;
  --fonts: #080808;
  --task: #fff;
  --tiles1: #db8dd9;
  --tiles2: #e489a4;
  --tiles3: #ecb06c;
  --tiles4: #7178b8;
  --tiles5: #995f99;
  --tiles6: #9fa551;
  --tiles7: #b16a6a;
  --tiles8: #59aa66;
  --inputbackground: linear-gradient(147.14deg, rgba(226, 180, 180, 0.7) 18.33%, rgba(255, 255, 255, 0.2) 77.77%);
}

@-webkit-keyframes scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  50% {
    opacity: 2;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  100% {
    opacity: 3;
  }
}

@keyframes scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  50% {
    opacity: 2;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  100% {
    opacity: 3;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0.2;
  }
  75% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 0.4;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0.2;
  }
  75% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 0.4;
  }
}

@-webkit-keyframes reducing {
  from {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes reducing {
  from {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@-webkit-keyframes enlarging {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes enlarging {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

h2 {
  color: var(--font-color);
}

li {
  list-style-type: none;
  padding: 0.3rem;
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  text-align: center;
}

i {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: transparent;
  text-align: right;
}

html,
body {
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 16px;
  display: -ms-grid;
  display: grid;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--font-color);
}

html .container,
body .container {
  min-height: 100%;
  background: var(--left_background);
  padding: 0;
  height: 100%;
  list-style: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

html .container > *,
body .container > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

html .container > *__header,
body .container > *__header {
  background: var(--header-background);
  max-height: 10px;
}

html .left,
body .left {
  min-width: 268px;
  margin-bottom: 10px;
  overflow-y: auto;
  max-height: calc(100vh - 85px);
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  background: var(--left_background);
}

html .left_listdays,
body .left_listdays {
  margin: 0;
  padding: 0;
}

html .left_listdays i,
body .left_listdays i {
  margin: 0;
}

html .left_loginbtn,
body .left_loginbtn {
  background-color: var(--statColor);
  color: var(--font-color);
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
}

html .left_day,
body .left_day {
  -webkit-transform: 0.1s ease-in-out;
          transform: 0.1s ease-in-out;
  position: relative;
  text-align: left;
  color: var(--font-color);
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
}

html .left_projectItem,
body .left_projectItem {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
}

html .left_addProject,
body .left_addProject {
  margin-top: auto;
  height: 32px;
  left: 10;
  bottom: 62px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

html .left_color,
body .left_color {
  height: 30px;
  border-radius: 0 8px 8px 0;
  width: 28px;
  border: 0;
  background-color: var(--task);
}

html .left_addProjectBtn,
body .left_addProjectBtn {
  background-color: var(--task);
  border-radius: 8px 0 0 8px;
  width: 30px;
  height: 32px;
  color: var(--addProjectbtn);
}

html .left_Projects,
body .left_Projects {
  color: var(--font-color);
  border-radius: 0;
  border: 0;
  height: 30px;
  text-align: center;
  background-color: var(--task);
}

html .center,
body .center {
  -webkit-box-flex: 4;
      -ms-flex: 4 45%;
          flex: 4 45%;
  height: calc(100% - 85px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--center-color);
  font-size: 1.2rem;
}

html .center_tasktable,
body .center_tasktable {
  width: 100%;
  border-radius: 10px;
  background-color: var(--statColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .center_stat,
body .center_stat {
  width: 25%;
  color: var(--statColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html .center__number,
body .center__number {
  color: var(--number-color);
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
  text-align: center;
  font-size: 1.5rem;
}

html .center__text,
body .center__text {
  color: var(--font-color);
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: center;
}

html .center_addTaskdiv,
body .center_addTaskdiv {
  padding: 5px;
  margin: 10px;
  color: var(--task);
  margin-left: 40px;
  overflow: hidden;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .center_emptyList,
body .center_emptyList {
  margin-top: 20px;
  color: var(--font-color);
  text-align: center;
}

html .center_foldericon,
body .center_foldericon {
  font-size: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .center_addtaskButton,
body .center_addtaskButton {
  padding: 5px 15px;
  color: var(--number-color);
  background-color: var(--task);
  border-radius: 8px 0 0 8px;
}

html .center_todoInput,
body .center_todoInput {
  outline: none;
  padding: 5px;
  color: var(--font-color);
  background-color: var(--task);
  letter-spacing: 1.2px;
  font-size: 1.2rem;
  border: 0;
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  text-align: center;
  border-radius: 0 8px 8px 0;
}

html .center_todolist > div,
body .center_todolist > div {
  -webkit-transform: 0.4s ease;
          transform: 0.4s ease;
  -webkit-filter: var(--shadow);
          filter: var(--shadow);
  max-height: 300px;
}

html .center_todolist,
body .center_todolist {
  max-height: 64vh;
  overflow: hidden;
  overflow-y: auto;
  scroll-behavior: hidden;
  margin-top: 0;
  margin-bottom: 0;
}

html .center ul,
body .center ul {
  padding: 0;
}

html .center_divT,
body .center_divT {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  height: 50px;
  max-width: 500px;
  margin-bottom: 5px;
  border-radius: 8px;
  -webkit-filter: var(--shadow);
          filter: var(--shadow);
  background-color: var(--task_color);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 10fr 1fr 1fr 1fr;
  -ms-grid-rows: 1.5fr 1fr;
      grid-template-rows: 1.5fr 1fr;
  gap: 0 0;
      grid-template-areas: 'complete-btn todo-item todo-item todo-item todo-item todo-item todo-item delete-btn play-btn des-btn' 'complete-btn clocks clocks clocks clocks clocks clocks delete-btn play-btn des-btn';
}

html .center_complete-btn,
body .center_complete-btn {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: complete-btn;
}

html .center_todo-item,
body .center_todo-item {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-area: todo-item;
}

html .center_delete-btn,
body .center_delete-btn {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 8;
  grid-area: delete-btn;
}

html .none,
body .none {
  display: none;
}

html .center_clocks,
body .center_clocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-area: clocks;
}

html .center_des-btn,
body .center_des-btn {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 10;
  grid-area: des-btn;
}

html .center_play-btn,
body .center_play-btn {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 9;
  grid-area: play-btn;
}

html .clock,
body .clock {
  color: var(--font-color);
  font-size: 2em;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transform: 0.3s ease-in-out;
          transform: 0.3s ease-in-out;
  width: 6em;
  border-radius: 20px;
  vertical-align: middle;
  text-align: center;
  display: none;
  position: absolute;
  bottom: 100px;
}

html .clock i,
body .clock i {
  color: var(--font-color);
}

html .clock_clockVisible,
body .clock_clockVisible {
  display: inline;
}

html .clock .fa-window-restore,
body .clock .fa-window-restore {
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--hover_color);
  font-size: 2rem;
}

html .clock_countdown,
body .clock_countdown {
  font-size: 2rem;
}

html .clock_fullscreen,
body .clock_fullscreen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: scale 0.3s ease-in-out 1;
          animation: scale 0.3s ease-in-out 1;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  color: var(--hover_color);
}

html .clock_fullscreen .clock_countdown,
body .clock_fullscreen .clock_countdown {
  font-size: 4rem;
}

html .clock_fullscreen .countdownButtons,
body .clock_fullscreen .countdownButtons {
  position: absolute;
  bottom: 30px;
  font-size: 40px;
  color: var(--hover_color);
}

html .clock_fullscreen .countdownButtonsNone,
body .clock_fullscreen .countdownButtonsNone {
  display: none;
}

html .clock_fullscreen .fa-window-restore,
body .clock_fullscreen .fa-window-restore {
  position: absolute;
  top: 5px;
  left: 5px;
  color: var(--hover_color);
}

html .clock_timerStart,
body .clock_timerStart {
  background: var(--timer);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: var(--hover_color);
}

html .clock_timerFinish,
body .clock_timerFinish {
  background-color: var(--timerFinishColor);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: var(--hover_color);
}

html .completed,
body .completed {
  opacity: 0.6;
  min-width: 300px;
}

html .completed .center_todo-item,
body .completed .center_todo-item {
  text-decoration: line-through;
}

html .completedTasks,
body .completedTasks {
  position: absolute;
  top: 85%;
  display: none;
}

html .input,
body .input {
  font-size: 1.2em;
  width: 90%;
  color: var(--fonts);
  border: 0;
}

html button,
body button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 0;
}

html li:hover,
body li:hover {
  color: var(--hover_color);
  cursor: pointer;
}

html .fa-minus-circle,
body .fa-minus-circle {
  pointer-events: none;
  -webkit-transform: 0.1s ease-in-out;
          transform: 0.1s ease-in-out;
}

html .center_pauseButton,
html .center_resetButton,
html .center_play-btn,
html .center_delete-btn,
html .center_complete-btn,
html .fa-play,
html .fa-play-circle,
html .center_des-btn,
html .fa-circle,
html .fa-check-circle,
html .pause-btn,
html .fa-pause,
html .fa-pause-circle,
html .fa-stop-circle,
html .fa-minus-circle,
html .fa-calendar-alt,
html .fa-list,
html .fa-repeat,
html .fas,
html .fa-times,
html .close-btn,
body .center_pauseButton,
body .center_resetButton,
body .center_play-btn,
body .center_delete-btn,
body .center_complete-btn,
body .fa-play,
body .fa-play-circle,
body .center_des-btn,
body .fa-circle,
body .fa-check-circle,
body .pause-btn,
body .fa-pause,
body .fa-pause-circle,
body .fa-stop-circle,
body .fa-minus-circle,
body .fa-calendar-alt,
body .fa-list,
body .fa-repeat,
body .fas,
body .fa-times,
body .close-btn {
  cursor: pointer;
  outline: 0;
  background: transparent;
  color: var(--font-color);
  font-size: 1.2rem;
  padding: 0.3rem;
}

html .center_play-btn,
html .fa-pause,
html .fa-pause-btn,
html .fa-check-circle,
html .fa-circle,
body .center_play-btn,
body .fa-pause,
body .fa-pause-btn,
body .fa-check-circle,
body .fa-circle {
  margin-right: 10px;
}

html .fall,
body .fall {
  -webkit-transform: translateX(17rem) rotateZ(1deg);
          transform: translateX(17rem) rotateZ(1deg);
  opacity: 0;
}

html .fa-circle,
html .fa-check,
html .fa-play,
html .fa-play-circle,
html .fa-check-circle,
html .fa-trash,
html .fa-pause,
html .fa-pause-circle,
body .fa-circle,
body .fa-check,
body .fa-play,
body .fa-play-circle,
body .fa-check-circle,
body .fa-trash,
body .fa-pause,
body .fa-pause-circle {
  cursor: pointer;
  pointer-events: none;
  border: 0;
}

html .fa-clock,
body .fa-clock {
  color: var(--addProjectbtn);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: left;
}

html .right_list--item > i,
body .right_list--item > i {
  margin: 0 10px;
}

html .right,
body .right {
  height: calc(100% - 85px);
  background: var(--right_background);
  -webkit-box-flex: 4;
      -ms-flex: 4 20%;
          flex: 4 20%;
}

html .right_list > li,
body .right_list > li {
  font-size: 1rem;
  -webkit-text-decoration: bold;
          text-decoration: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html .right_divT,
body .right_divT {
  color: var(--fonts);
  display: block;
  text-align: center;
}

html .right_todo-item,
body .right_todo-item {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-area: todo-item;
  text-align: center;
}

html .right_detals,
body .right_detals {
  font-size: 1rem;
  color: var(--font-color);
}

html .right_detals > li,
body .right_detals > li {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html .right_list,
body .right_list {
  margin: 10px;
  list-style: none;
  padding-left: 0;
  font-size: 1vw;
}

.controlButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.blur {
  opacity: 0.2;
}

.projectList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--font-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: 0.1s ease-in-out;
          transform: 0.1s ease-in-out;
}

.left_projectItem:hover,
.left_day:hover,
.fa-minus-circle:hover {
  background-color: var(--statColor);
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
  background-position: 0 100%;
  color: var(--hovercolor);
}

.projectSelect {
  padding: 10px;
  width: 100%;
}

.repeatDay {
  display: right;
}

.textareaDetals {
  outline: none;
  resize: none;
  width: 100%;
  height: 250px;
  color: var(--fonts);
  border-radius: 8px;
  background: var(--inputbackground);
}

select,
input [type='number'],
input [type='date'],
.numberOfTime,
.Projects {
  padding: 10px;
  color: var(--fonts);
  border-radius: 8px;
  background: var(--inputbackground);
}

select option {
  background: rgba(0, 0, 0, 0.9);
  color: var(--fonts);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

ol {
  padding: 0;
}

.topka {
  height: 30px;
  z-index: 99;
}

.projectList:hover {
  color: var(--hover_color);
}

.circle {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  margin: 0 5px 0 0;
  outline: 0;
  background: transparent;
  color: var(--font-color);
  font-size: 1rem;
  padding: 0.3rem;
}

.projectDelete {
  text-align: right;
  background: none;
}

.time {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  height: 2vw;
}

.score {
  margin-left: 5px;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
}

.scores {
  text-decoration: none;
}

.nav {
  padding: 5px;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: var(--nav_color);
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.nav_element {
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 13px;
  color: var(--font-color);
  text-decoration: none;
}

.nav_element:hover {
  cursor: pointer;
}

.fa-coffee {
  color: var(--hover_color);
  font-size: 30px;
}

@media screen and (min-width: 895px) {
  body {
    font-size: 16px;
  }
  .container {
    border-radius: none;
    margin: 0;
    width: 100%;
    display: block;
  }
  .container .center__number {
    font-size: 1.2rem;
  }
  .container .center__text {
    font-size: 0.8rem;
    color: var(--font-color);
  }
  .container .center_addTaskdiv {
    width: auto;
    margin: 5px;
    margin-left: 0;
  }
  .container .center_todoInput {
    font-size: 0.8rem;
  }
  .container .center_todo-item {
    font-size: 1rem;
  }
  .container .center_todo-item i {
    font-size: 1rem;
  }
  .container .time {
    font-size: 1rem;
  }
  .container .left {
    font-size: 1.2rem;
    height: calc(100% - 85px);
    width: 100% !important;
  }
  .container .left_addProjectBtn {
    max-width: 50px;
  }
  .container .left_title {
    margin: 1px;
    font-size: 2rem;
    text-align: center;
  }
  .container .left_day {
    background-color: var(--header_background);
    min-height: 40px;
  }
  .container .left_day > i {
    padding: 0 15px 0 10px;
  }
  .container .left_projectItem {
    min-height: 40px;
    color: var(--font-color);
    background-color: var(--header_background);
  }
  .container .left_addProject {
    position: absolute;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30px;
  }
  .container .left .circle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 15px;
    width: 15px;
    margin: 0 10px;
  }
  .container .leftnone {
    display: none;
  }
  .container .right {
    width: 100vw;
    right: 0;
    -webkit-backdrop-filter: blur(9px);
            backdrop-filter: blur(9px);
    color: var(--right_background);
    position: absolute;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: -webkit-transform 0.9s 0.9s ease-in-out;
    transition: -webkit-transform 0.9s 0.9s ease-in-out;
    transition: transform 0.9s 0.9s ease-in-out;
    transition: transform 0.9s 0.9s ease-in-out, -webkit-transform 0.9s 0.9s ease-in-out;
  }
}

@media only screen and (max-width: 750px) {
  .center_todo-item {
    font-size: 3vw;
    color: pink;
  }
  .center_todo-item i {
    font-size: 5vw;
  }
  .time {
    font-size: 5vw;
  }
}

@media screen and (max-width: 480px) {
  .container .left {
    font-size: 1rem;
    padding: 10px;
  }
  .container .left_pomodoreProjects {
    max-height: 40vh;
  }
}

.dss:hover {
  stroke-dasharray: 2;
  color: var(--hover_color);
}

ol > li:hover,
.projectList:hover,
.fa-minus-circle:hover,
input[type='date']:hover,
.projectSelect:hover,
.editing-view-port:hover,
.partOfTime:hover,
textarea:hover,
ol > li:active,
> .projectList:active,
.fa-minus-circle:active,
input[type='date']:active,
.projectSelect:active,
.editing-view-port:active,
.partOfTime:active,
textarea:active,
input[type='number']:hover {
  color: var(--hover_color);
  cursor: pointer;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  border: 0;
}

.modal__header {
  margin-left: 10px;
}

.tiles {
  row-gap: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 20px;
  list-style: none;
}

.tiles__tile {
  position: relative;
  font-size: auto;
  border-radius: 10px;
  background: var(--number-color);
  padding: 5px;
  width: 200px;
  height: 150px;
  margin: 10px;
  color: var(--hover_color);
  font-weight: bold;
  text-align: center;
}

.tiles__tile:nth-child(2) {
  background: var(--tiles1);
}

.tiles__tile:nth-child(1) {
  background: var(--tiles2);
}

.tiles__tile:nth-child(3) {
  background: var(--tiles3);
}

.tiles__tile:nth-child(4) {
  background: var(--tiles4);
}

.tiles__tile:nth-child(5) {
  background: var(--tiles5);
}

.tiles__tile:nth-child(6) {
  background: var(--tiles6);
}

.tiles__tile:nth-child(7) {
  background: var(--tiles7);
}

.tiles__tile:nth-child(8) {
  background: var(--tiles8);
}

.tiles__date {
  opacity: 0.5;
  font-size: 0.8rem;
  position: absolute;
  right: 10px;
  bottom: 0;
}

.tiles__smallNote {
  font-size: 0.6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tiles__addNote {
  display: inline;
  background: var(--task_color);
  padding: 15px;
  border-radius: 50px;
  position: absolute;
  right: 20px;
  background: var(--task_color);
  bottom: 20px;
  width: 60px;
  height: 60px;
}

.tiles__add {
  padding: 20px;
  border-radius: 30px;
  background: var(--backgrounddarker);
  color: var(--number-color);
  font-size: 1.6rem;
}

.tiles__note {
  -webkit-transform: 200ms ease-in-out;
          transform: 200ms ease-in-out;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  border-radius: 10px;
  color: var(--font-color);
  background-color: var(--header_background);
  height: 700px;
  width: 700px;
  max-height: 80%;
  max-width: 90%;
  z-index: 300;
  position: absolute;
  top: 50%;
  left: 50%;
}

.tiles__savebtn, .tiles__deletebtn {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 5px;
  background-color: var(--task);
  color: var(--light-color);
  font-size: 15px;
  padding: 10px;
}

.tiles__savebtn {
  left: 150px;
}

.tiles__savebtn:hover, .tiles__deletebtn:hover,
.tiles .tiles__tile:hover {
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
  cursor: pointer;
}

.tiles__add:hover {
  color: var(--number-color);
  cursor: pointer;
}

.tiles__noteHeader {
  resize: none;
  margin-top: 35px;
  display: box;
  display: flexbox;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* margin-top: 50px; */
  outline: none;
  /* padding: 5px; */
  width: 80%;
  color: var(--font-color);
  background-color: transparent;
  letter-spacing: 1.2px;
  font-size: 1.2rem;
  border: 0;
  border-radius: 0 8px 8px 0;
}

.tiles .date {
  font-size: 30px;
  color: var(--number-color);
}

.tiles__textarea {
  outline: none;
  resize: none;
  color: var(--fonts);
  border-radius: 8px;
  -webkit-filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
  background: transparent;
}

.tiles__textarea .date {
  font-size: 30px;
  color: var(--number-color);
}

.modal_addNotebutton {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.fa-times {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  outline: 0;
  color: var(--number-color);
  font-size: 1.8rem;
  padding: 0.3rem;
}

.fa-times:hover {
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
  cursor: pointer;
}

.fa-redo {
  color: var(--font-color);
  opacity: 0.8;
  font-size: 1rem;
}

.overlay_Note {
  pointer-events: none;
  opacity: 1;
}

.overlay_Note .tiles__note {
  pointer-events: all;
}

@media screen and (max-width: 895px) {
  .tiles {
    row-gap: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    margin: 20px;
    list-style: none;
    font-size: 0.7rem;
  }
  .tiles__tile {
    font-size: auto;
    border-radius: 10px;
    background: var(--number-color);
    padding: 5px;
    width: 125px;
    height: 75px;
    color: var(--hover_color);
    text-align: center;
  }
  __addNote {
    background: var(--backgrounddarker);
    padding: 15px;
    border-radius: 50px;
    bottom: 10px;
    right: 10px;
  }
  __add {
    padding: 20px;
    border-radius: 30px;
    background: var(--backgrounddarker);
    color: var(--number-color);
    font-size: 1.6rem;
  }
}
/*# sourceMappingURL=note.css.map */