@import 'style';

@mixin hoverlighter {
	filter: brightness(150%);
	cursor: pointer;

	
}

.modal__header{
	margin-left: 10px;
}

.tiles {
	row-gap: 15px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 0;
	margin: 20px;
	list-style: none;
	&__tile{
		position:relative;
		font-size: auto;
		  border-radius: 10px;
		  background:  var(--number-color);
		  padding: 5px;
		  width: 200px;
		  height: 150px;
		  margin: 10px 10px 10px 10px;
		  color:var(--hover_color);
		  font-weight: bold;
		  text-align: center;
	  }
	  &__tile:nth-child(2) {
		background:  var(--tiles1)
	}
	  &__tile:nth-child(1) {
		background: var(--tiles2)
	  }
	  &__tile:nth-child(3) {
		background: var(--tiles3)
	  }
	  &__tile:nth-child(4) {
		background:  var(--tiles4)
	}
	  &__tile:nth-child(5) {
		background:  var(--tiles5)
	}
	  
	  &__tile:nth-child(6) {
		background:  var(--tiles6)
	}
	  &__tile:nth-child(7) {
		background: var(--tiles7)
	}
	  
	  &__tile:nth-child(8) {
		background:  var(--tiles8)
	}
	  &__date{
		//   color: 	var(--font-color);
		  opacity: 0.5;
		  font-size: 0.8rem;
		  position: absolute;
		  right: 10px;
		  bottom: 0px;
	  }
	  &__smallNote{
		  font-size: 0.8rem;
		  white-space: nowrap;
		  overflow: hidden;
		  text-overflow: ellipsis;
	  }
	  &__addNote{
		  background: transparent;
		  position: absolute;
		bottom: 20px;
		right: 20px;
	  }
	  &__add{
		padding: 20px;
		border-radius: 30px;
	  background: var(--backgrounddarker);
	  color:  var(--number-color);
	  font-size: 1.6rem;
	}

	&__note{
		transition: 200ms ease-in-out;
		transform: translate(-50%, -50%) scale(1
		);
		border-radius: 10px;
		color: var(--font-color);
		background-color: var(--header_background);
		height: 700px;
		width: 700px;
		max-height: 80%;
		max-width: 90%;
		z-index: 300;
		position: absolute;
	top: 50%;
	left: 50%;
	}


	&__savebtn, 	&__deletebtn{
		position: absolute;
		top: 10px;
		left: 10px;
		border-radius: 5px;
		background-color: var(--task);
		color: var(--light-color);
		font-size: 15px;
		padding: 10px;


	}

	&__savebtn{
		left: 150px;
		
	}
	

	&__savebtn:hover, &__deletebtn:hover,.tiles__tile:hover{
	
	
		@include hoverlighter;

}
	&__add:hover{
		color: var(--number-color);
		cursor: pointer;

	}

&__noteHeader{
display: flex;
margin-top: 50px;
	outline: none;
    padding: 5px;
    color: var(--font-color);
    background-color: transparent;
    letter-spacing: 1.2px;
    font-size: 1.6rem;
    border: 0;
    border-radius: 0px 8px 8px 0px;
}

&__textarea{
	outline: none;
    resize: none;
    width: 100%;
	height: 100%;
    // height: 250px;
    border: none;
    color: var(--fonts);
    border-radius: 8px;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
	background: transparent;
    // background: linear-gradient(147.14deg, rgba(0, 0, 0, 0.7) 18.33%, rgba(0, 0, 0, 0.2) 77.77%);// margin-top: 20px;
.date{
font-size: 30px;
color:var(--number-color);
}
}
}


  .modal_addNotebutton{
	position: absolute;
	right: 10px;
	bottom:10px;
  }

  .fa-times
 {
	position: absolute;
	top: 20px;
	right: 20px;
    cursor: pointer;
    outline: 0;
    background: transparent;
	color: var(--number-color);
    font-size: 1.8rem;
    padding: 0.3rem;
  }

.fa-times:hover{
	@include hoverlighter;
}

.overlayNote{
pointer-events: none;
opacity: 1;
.tiles__note{
	pointer-events: all;
}
}


@media screen and (max-width: 895px) {

	.tiles {
		row-gap: 15px;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		padding: 0;
		margin: 20px;
		list-style: none;
		&__tile{
			font-size: auto;
			  border-radius: 10px;
			  background:  var(--number-color);
			  padding: 5px;
			  width: 150px;
			  height: 100px;
			//   margin-top: 10px;
			//   margin-left: 10px;
			  color:var(--hover_color);
			//   font-weight: bold;
			  text-align: center;
			  
			 
		
		  }
		}
	
	}

