@import 'note';
@import 'style';

*,
*::after *::before {
	box-sizing: border-box;
}

.modal,
.noteCard,
.todoCard {
	border: 0;
	// position: absolute;
	display: none;
	// min-height: 89.5vh;
    flex-direction: column;

	// top: 50%;
	// left: 50%;

	transform: translate(0, 0) scale(0);
	transition: transform 200ms ease-in-out;
	border-radius: 10px;

	// background-color: var(--task);
	backdrop-filter: blur(10px);

	opacity: 0.9;
	// z-index: 100;
	// width: 95%;
	// height: 95%;

	// max-width: 95%;
	// max-height: 95%;

	&__header {
		padding: 10px 15px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid var(--task_color);
	}

	&__header,
	&__tittle {
		font-size: 1.25rem;
		font-weight: bold;
	}

	&__body {
		font-size: 1.5rem;

		height: 100%;
		padding: 10px 15px;

		&__options {
			font-size: 1.5rem;

			display: flex;
			border-radius: 20px;
			background-color: var(--task_color);
		}
	}

	&__header,
	&__closebutton {
		cursor: pointer;
		// border: none;
		outline: none;
		background: none;
		font-size: 1.5rem;
		font-weight: bold;
	}

	&__savebtn {
		
		border-radius: 5px;
		background-color: var(--statColor);
		color: var(--light-color);
		font-size: 1.5rem;
		padding: 10px;
	}

	&__savebtn:hover {
		@include hoverlighter;
	}
}

#overlay {
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
	pointer-events: none;
}

#overlay.active {
	opacity: 1;
	pointer-events: all;
}

.modal.active,
.noteCard.active,
.todoCard.active,
.tiles__note.active {
	transform: translate(0%, 0%) scale(1);
	display: flex;
	// margin: 190px 0px 0px 300px;
}

@media screen and (max-width: 895px) {
	.modal {
		// width: 100vw;
		// height: 100vh;
		// max-width: 100%;
		// max-height: 100%;
		border: 0;
	}
}


// .modal{
// 	display: flex;
// 	z-index: 0;
// }