html,
body {
  display: -ms-grid;
  display: grid;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: url(background.svg);
  color: white;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

html .container,
body .container {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIj48ZGVmcz48cGF0dGVybiBpZD0icGF0dGVybiIgd2lkdGg9IjI3IiBoZWlnaHQ9IjI3IiB2aWV3Qm94PSIwIDAgNDAsNDAiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiIHBhdHRlcm5UcmFuc2Zvcm09InJvdGF0ZSgzNikgIj48cmVjdCBpZD0icGF0dGVybi1iYWNrZ3JvdW5kIiB3aWR0aD0iNDAwJSIgaGVpZ2h0PSI0MDAlIiBmaWxsPSJyZ2JhKDI0NywgMjUwLCAyNTIsMSkiPjwvcmVjdD4gPGNpcmNsZSBmaWxsPSJyZ2JhKDIzNywgMjQyLCAyNDcsMSkiIGN4PSIwIiBjeT0iMjAiIHI9IjQiPjwvY2lyY2xlPjxjaXJjbGUgZmlsbD0icmdiYSgyMzcsIDI0MiwgMjQ3LDEpIiBjeD0iNDAiIGN5PSIyMCIgcj0iNCI+PC9jaXJjbGU+PHBhdGggZmlsbD0icmdiYSgyMzcsIDI0MiwgMjQ3LDEpIiBkPSJtIDE1LjUgMTAgaDkgdjIwIGgtOXoiPjwvcGF0aD48L3BhdHRlcm4+ICA8L2RlZnM+IDxyZWN0IGZpbGw9InVybCgjcGF0dGVybikiIGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiPjwvcmVjdD48L3N2Zz4=");
  /* Note: backdrop-filter has minimal browser support */
  margin: auto;
  width: 900px;
  height: 700px;
  border-radius: 30px;
  list-style: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

html .container > *,
body .container > * {
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

html header,
body header {
  background: linear-gradient(147.14deg, rgba(26, 25, 25, 0.6) 18.33%, rgba(0, 0, 0, 0.2) 77.77%);
  max-height: 25px;
}

html .right,
body .right {
  height: 100%;
  background-color: #011b01;
}

@-webkit-keyframes reducing {
  from {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes reducing {
  from {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@-webkit-keyframes enlarging {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes enlarging {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

html ol,
body ol {
  position: relative;
}

html ol > i,
body ol > i {
  position: absolute;
  left: 0;
  top: 0;
}

html .animationIn,
body .animationIn {
  -webkit-animation: enlarging;
          animation: enlarging;
  -webkit-animation-duration: .7s;
          animation-duration: .7s;
  -webkit-transition: 2;
  transition: 2;
}

html .animationOut,
body .animationOut {
  -webkit-animation: reducing;
          animation: reducing;
  -webkit-transition: 2;
  transition: 2;
}

html .none,
body .none {
  display: none;
}

html .left,
body .left {
  height: 100%;
  background: linear-gradient(147.14deg, rgba(0, 0, 0, 0.7) 18.33%, rgba(0, 0, 0, 0.2) 77.77%);
  -webkit-box-flex: 2;
      -ms-flex: 2 20%;
          flex: 2 20%;
}

html .center,
body .center {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 3;
      -ms-flex: 3 50%;
          flex: 3 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .right,
body .right {
  background: linear-gradient(147.14deg, rgba(0, 0, 0, 0.7) 18.33%, rgba(0, 0, 0, 0.2) 77.77%);
  -webkit-box-flex: 4;
      -ms-flex: 4 20%;
          flex: 4 20%;
}

html .clock,
html .addTask,
html .tasksToDo, html .addTaskdiv,
body .clock,
body .addTask,
body .tasksToDo,
body .addTaskdiv {
  background: rgba(20, 20, 20, 0.725);
  padding: 5px;
  margin: 10px;
  color: white;
  font-size: 2em;
}

html .clock,
body .clock {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin: 0px;
  position: relative;
  width: 6em;
  border-radius: 20px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

html .clock i,
body .clock i {
  color: rgba(255, 255, 255, 0.55);
}

html .fa-window-restore,
body .fa-window-restore {
  position: absolute;
  top: 5px;
  left: 5px;
  color: white;
}

html .clock,
body .clock {
  position: absolute;
  bottom: 20px;
}

html .clock-fullscreen,
body .clock-fullscreen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: scale 0.3s ease-in-out 1;
          animation: scale 0.3s ease-in-out 1;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
}

html .clock-fullscreen #countdown,
body .clock-fullscreen #countdown {
  font-size: 4rem;
}

html .clock-fullscreen .countdownButtons,
body .clock-fullscreen .countdownButtons {
  position: absolute;
  bottom: 30px;
}

html .clock-fullscreen i,
body .clock-fullscreen i {
  font-size: 1.8rem;
}

html .minimal,
body .minimal {
  background-color: red;
  animation: scale .4s ease-in-out 1 reverse;
}

html .todoInput,
body .todoInput {
  color: #b17676;
  letter-spacing: 1.2px;
  font-size: 1.2rem;
  border: 0;
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  text-align: center;
  border-radius: 0px 8px 8px 0px;
}

html .addTaskdiv,
body .addTaskdiv {
  margin-left: 40px;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .input,
body .input {
  font-size: 1.2em;
  width: 90%;
  background-color: #3c3e57;
  color: #727171;
  border: 0;
}

html .todo-item,
body .todo-item {
  text-align: center;
}

html .addtask,
body .addtask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  background-color: #ffffff;
  color: #727171;
  border: 0;
}

html .addtask:hover,
body .addtask:hover {
  color: white;
}

html .todolist > div,
body .todolist > div {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}

html .task,
body .task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html button,
body button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

html li,
body li {
  list-style-type: none;
  padding: 0.3rem;
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  text-align: center;
}

html i,
body i {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: transparent;
}

html task,
body task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html .divT,
body .divT {
  height: 50px;
  margin-bottom: 5px;
  border-radius: 8px;
  -webkit-filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
  background-color: #141414;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 10fr 1fr 1fr 1fr;
  -ms-grid-rows: 1.5fr 1fr;
      grid-template-rows: 1.5fr 1fr;
  gap: 0px 0px;
      grid-template-areas: "complete-btn todo-item todo-item todo-item todo-item todo-item todo-item delete-btn play-btn des-btn" "complete-btn clocks clocks clocks clocks clocks clocks delete-btn play-btn des-btn";
}

html .complete-btn,
body .complete-btn {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: complete-btn;
}

html .todo-item,
body .todo-item {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-area: todo-item;
  text-align: left;
}

html .clocks,
body .clocks {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-area: clocks;
}

html .delete-btn,
body .delete-btn {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 8;
  grid-area: delete-btn;
}

html .des-btn,
body .des-btn {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 10;
  grid-area: des-btn;
}

html .play-btn,
body .play-btn {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 9;
  grid-area: play-btn;
}

html button,
body button {
  border: 0;
}

html .pauseButton,
html .resetButton,
html .play-btn,
html .fa-pause,
html .delete-btn,
html .complete-btn,
html .fa-play,
html .fa-play-circle,
html .des-btn,
html .fa-circle,
html .fa-window-restore,
html .fa-check-circle,
html .pause-btn, html .fa-pause, html .fa-pause-circle, html .fa-stop-circle, html .fa-minus-circle,
html .fa-calendar-alt, html .fa-list, html .fa-repeat,
body .pauseButton,
body .resetButton,
body .play-btn,
body .fa-pause,
body .delete-btn,
body .complete-btn,
body .fa-play,
body .fa-play-circle,
body .des-btn,
body .fa-circle,
body .fa-window-restore,
body .fa-check-circle,
body .pause-btn,
body .fa-pause,
body .fa-pause-circle,
body .fa-stop-circle,
body .fa-minus-circle,
body .fa-calendar-alt,
body .fa-list,
body .fa-repeat {
  outline: 0;
  background: transparent;
  color: #585858;
  font-size: 1.2rem;
  padding: 0.3rem;
}

html .play-btn,
html .fa-window-restore,
html .fa-pause,
html .fa-pause-btn,
html .fa-check-circle,
html .fa-circle,
body .play-btn,
body .fa-window-restore,
body .fa-pause,
body .fa-pause-btn,
body .fa-check-circle,
body .fa-circle {
  margin-right: 10px;
}

html .fa-clock,
body .fa-clock {
  color: #740606;
}

html ul,
body ul {
  list-style: none;
  padding-left: 0;
  float: left;
}

html li,
body li {
  font-size: 0.9em;
  -webkit-text-decoration: bold;
          text-decoration: bold;
}

html .detals,
body .detals {
  font-size: 0.7rem;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    opacity: 0.0;
  }
  25% {
    -webkit-transform: scale(1.1);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scale(1.2);
    opacity: 0.2;
  }
  75% {
    -webkit-transform: scale(1.3);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(1.4);
    opacity: 0.4;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    opacity: 0.0;
  }
  25% {
    -webkit-transform: scale(1.1);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scale(1.2);
    opacity: 0.2;
  }
  75% {
    -webkit-transform: scale(1.3);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(1.4);
    opacity: 0.4;
  }
}

html .addtaskButton,
body .addtaskButton {
  padding: 5px 15px 5px 15px;
  font-size: 1.1rem;
  background-color: #ffffff;
  color: #b17676;
  border-radius: 8px 0px 0px 8px;
}

html .completed,
body .completed {
  text-decoration: line-through;
  opacity: 0.6;
}

html .red,
body .red {
  background-color: #740606;
  color: #740606;
}

html #taksCompleted,
body #taksCompleted {
  background-color: grey;
  color: white;
  position: relative;
  top: 80%;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

html .fall,
body .fall {
  -webkit-transform: translateX(17rem) rotateZ(1deg);
          transform: translateX(17rem) rotateZ(1deg);
  opacity: 0;
}

@-webkit-keyframes scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  50% {
    opacity: 2;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  100% {
    opacity: 3;
  }
}

@keyframes scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  50% {
    opacity: 2;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  100% {
    opacity: 3;
  }
}

html .timerStart,
body .timerStart {
  background: linear-gradient(246.9deg, rgba(206, 76, 76, 0.65) 56.87%, rgba(202, 84, 84, 0.904515) 79.48%, rgba(197, 93, 93, 0.75) 96.13%);
  border-radius: 15px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: white;
}

html .timerFinish,
body .timerFinish {
  background-color: rgba(49, 63, 124, 0.725);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: white;
}

html .tasktable,
body .tasktable {
  width: 100%;
  background-color: #0f0f0f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .tasktable .stat,
body .tasktable .stat {
  width: 25%;
  background-color: #0f0f0f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html .tasktable .stat .number,
body .tasktable .stat .number {
  color: #441a1a;
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
  text-align: center;
  font-size: 2rem;
}

html .tasktable .stat .text,
body .tasktable .stat .text {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: center;
}

html .fa-circle,
html .fa-check,
html .fa-play,
html .fa-play-circle,
html .fa-check-circle,
html .fa-trash,
html .fa-minus-circle,
html .fa-pause,
html .fa-pause-circle,
body .fa-circle,
body .fa-check,
body .fa-play,
body .fa-play-circle,
body .fa-check-circle,
body .fa-trash,
body .fa-minus-circle,
body .fa-pause,
body .fa-pause-circle {
  cursor: pointer;
  pointer-events: none;
  border: 0;
}

html .fa-clock,
body .fa-clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: left;
}

html .completedTasks,
body .completedTasks {
  position: absolute;
  top: 85%;
  display: none;
}

@media screen and (max-width: 650px) {
  html header,
  body header {
    height: 25px;
    font-size: 10px;
  }
  html .todolist,
  body .todolist {
    width: 90%;
    -webkit-padding-start: 0px;
            padding-inline-start: 0px;
  }
  html .stat,
  body .stat {
    font-size: 3vw;
  }
  html i::before,
  body i::before {
    background: transparent;
  }
  html .addTaskdiv,
  body .addTaskdiv {
    margin-left: 0px;
  }
}

html .countdownButtonsNone,
body .countdownButtonsNone {
  display: none;
  background-color: pink;
}

li {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.controlButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.blur {
  opacity: 0.2;
}
/*# sourceMappingURL=style.css.map */