html,
body {
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
  font-family: "Noto Sans JP", sans-serif;
}

body {
  background-color: black;
  color: white;
}

.app {
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.container {
  border-radius: 10px;
  background-color: #7745458c;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 800px;
  height: 600px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.clock,
.addTask,
.tasksToDo {
  background: #141414;
  padding: 5px;
  margin: 10px;
  color: white;
  font-size: 2em;
}

.clock {
  width: 6em;
  border-radius: 20px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.todoInput {
  background-color: #ffffff;
  color: #b17676;
  letter-spacing: 1.2px;
  font-size: 1.1rem;
  border: 0;
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  text-align: center;
}

.addTaskdiv {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input {
  font-size: 1.2em;
  width: 90%;
  background-color: #3c3e57;
  color: #727171;
  border: 0;
}

.addtask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  background-color: #ffffff;
  color: #727171;
  border: 0;
}

.addtask:hover {
  color: white;
}

.todolist {
  width: 55%;
}

.todolist > div {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}

.task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

li {
  list-style-type: none;
  padding: 0.3rem;
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  text-align: center;
}

i {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.divT {
  margin-bottom: 2px;
  border-radius: 15px;
  -webkit-filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #141414;
}

button {
  cursor: pointer;
  border: 0;
}

.play-btn,
.delete-btn,
.complete-btn {
  background-color: #141414;
  font-size: 1.125rem;
  padding: 0.3rem;
}

fa-pause-btn {
  color: #034e03;
}

.play-btn,
.fa-pause,
.fa-pause-btn {
  color: #034e03;
  margin-right: 10px;
}

.delete-btn {
  color: #740606;
}

.complete-btn {
  color: white;
}

.addtaskButton {
  font-size: 1.1rem;
  background-color: #ffffff;
  color: #b17676;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.red {
  background-color: red;
  color: red;
}

#taksCompleted {
  position: absolute;
  top: 50%;
  top: 80%;
}

.fall {
  -webkit-transform: translateX(17rem) rotateZ(1deg);
          transform: translateX(17rem) rotateZ(1deg);
  opacity: 0;
}

.checking {
  -webkit-transform: translateY(17rem);
          transform: translateY(17rem);
  opacity: 1;
}

.timerStart {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #c55d5d;
  color: white;
}

.timerFinish {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #313f7c;
  color: white;
}

.tasktable {
  width: 100%;
  background-color: #0f0f0f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tasktable .stat {
  width: 25%;
  background-color: #0f0f0f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 20px;
}

.tasktable .stat .number {
  color: #441a1a;
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
  text-align: center;
  font-size: 2rem;
}

.tasktable .stat .text {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: center;
}

.fa-circle,
.fa-check,
.fa-play,
.fa-check-circle,
.fa-trash,
.fa-pause {
  pointer-events: none;
  border: 0;
}

.completedTasks {
  position: absolute;
  top: 85%;
  display: none;
}

.fa-clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: left;
}
/*# sourceMappingURL=style.css.map */