html {
  font-size: 100%;
  font-family: "Noto Sans JP", sans-serif;
}

body {
  background-color: black;
  color: white;

}

.app {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.container {
  border-radius: 10px;
  background-color: #191a2d;
  list-style: none;
  display: flex;
  align-items: center;
  width: 800px;
  height: 600px;
  flex-direction: column;
}

.clock,
.addTask,
.tasksToDo {
  display: flex;
  background: black;
  padding: 5px;
  margin: 10px;
  color: white;
  font-size: 2em;
}

.clock {
  width: 6em;
  border-radius: 20px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.todoInput {
  background-color: #686a8f;
  color: rgb(196, 192, 192);
  letter-spacing: 1.2px;
  font-size: 1.1rem;
  border: 0;
  flex: 6;
  text-align: center;


}

.addTaskdiv {

  width: 45%;
  display: flex;
  justify-content: center;

}

.input {

  font-size: 1.2em;
  width: 90%;
  background-color: #3c3e57;
  color: rgb(114, 113, 113);
  border: 0;
}

.addtask {
  display: flex;
  width: 10%;
  background-color: #3c3e57;
  color: rgb(114, 113, 113);
  border: 0;
}

.addtask:hover {
  color: white;
}

.todolist {
  width: 55%;
  background-color: black;
  border-radius: 15px;

}

.todolist>div {
  transition: all 0.5s ease;
}

.task {
  display: flex;
  justify-content: center;
}

button {
  flex: 1;
}

li {
  list-style-type: none;
  padding: 0.3rem;
  flex: 6;
  text-align: center;
}

i {
  flex: 1;
}

task {
  display: flex;
}

div {
  display: flex;
}

button {
  cursor: pointer;

  border: 0;
}

.play-btn,
.delete-btn,
.complete-btn {
  background-color: black;
  font-size: 1.125rem;
  padding: 0.3rem;

}

fa-pause-btn {
  color: rgb(3, 78, 3);

}

.play-btn,
.fa-pause-btn {
  color: rgb(3, 78, 3);
  margin-right: 10px;
}

.delete-btn {
  color: rgb(116, 6, 6);
}

.complete-btn {
  color: white;
}

.addtaskButton {
  font-size: 1.1rem;
  background-color: #686a8f;
  color: rgb(196, 192, 192);
}


// .fa-pause-btn,
.fa-circle,
.fa-check,
.fa-play,
.fa-trash {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;

}

.red {
  background-color: red;
  color: red;
}



#taksCompleted {
  position: absolute;
  top: 50%;
  top: 80%;

}


.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

.timerStart {
  transition: all 0.5s ease;
  background-color: rgb(197, 93, 93);
  color: white;
}



.timerFinish {
  transition: all 0.5s ease;
  background-color: rgb(49, 63, 124);
  color: white;
}




//* top table 
.tasktable {
  background-color: gray;
  display: flex;
  grid-gap: 1rem;
  justify-content: center;


  .stat {
    background-color: white;
    color: red;

    p {
      color: grey;

    }
  }
}