::-webkit-scrollbar {
  background-color: var(--backgrounddarker);
  width: 8px;
}

::-webkit-scrollbar-button {
  background-color: var(--selector-max-compound-selectors);
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--tiles1)), to(var(--tiles1)));
  background: linear-gradient(var(--tiles1), var(--tiles1));
  border-radius: 10px;
}

input,
select,
textarea {
  border: 0;
}

input::-webkit-color-swatch {
  border: 0;
  border-radius: 6px;
}

:root {
  --center-color: #171721;
  --right_background: #14141c;
  --timerFinishColor: rgba(49, 63, 124, 0.725);
  --statColor: #22222c;
  --backgrounddarker: #14141c;
  --header_background: #161624;
  --left_background: #14141c;
  --nav_color: #14141c;
  --task_color: #28222c;
  --timer: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
  --addProject: #b17676;
  --number-color: #f1998f;
  --light-color: #a9ded8;
  --font-color: #fff;
  --addProjectbtn: #b17676;
  --shadow: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
  --hover_color: #fafafa;
  --dark-font: #fff;
  --fonts: #fff;
  --task: #23222d;
  --inputbackground: linear-gradient(147.14deg, rgba(0, 0, 0, 0.7) 18.33%, rgba(0, 0, 0, 0.2) 77.77%);
  --btncolor: #808080;
}

::-webkit-scrollbar-thumb:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(var(--tiles2)));
  background: linear-gradient(transparent, var(--tiles2));
}

.lightTheme {
  --center-color: #fff;
  --right_background: #fff;
  --timerFinishColor: #aaa;
  --backgrounddarker: #aaa;
  --header_background: #797878;
  --statColor: #fff;
  --left_background: #ccc;
  --nav_color: #ccc;
  --task_color: #9b9797;
  --timer: #fff;
  --addProject: #000;
  --number-color: #000;
  --light-color: #fff;
  --font-color: black;
  --addProjectbtn: #e0e0e0;
  --shadow: #fff;
  --hover_color: #fff;
  --dark-font: #fff;
  --fonts: #080808;
  --task: #fff;
  --inputbackground: #ccc;
  --btncolor: #fff;
}

@-webkit-keyframes scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  50% {
    opacity: 2;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  100% {
    opacity: 3;
  }
}

@keyframes scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  50% {
    opacity: 2;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  100% {
    opacity: 3;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0.2;
  }
  75% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 0.4;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0.2;
  }
  75% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 0.4;
  }
}

@-webkit-keyframes reducing {
  from {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes reducing {
  from {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@-webkit-keyframes enlarging {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes enlarging {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

h2 {
  color: var(--font-color);
}

li {
  list-style-type: none;
  padding: 0.3rem;
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  text-align: center;
}

i {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: transparent;
  text-align: right;
}

html,
body {
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
  font-size: 16px;
  display: -ms-grid;
  display: grid;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: var(--font-color);
}

html .container,
body .container {
  min-height: 100%;
  background: var(--left_background);
  padding: 0;
  height: 100%;
  list-style: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

html .topbar,
body .topbar {
  display: none;
}

html .container > *,
body .container > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

html .container > *__header,
body .container > *__header {
  background: var(--header-background);
  max-height: 10px;
}

html .left,
body .left {
  min-width: 268px;
  overflow-x: hidden;
  max-height: calc(100vh - 85px);
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  background: var(--left_background);
  overflow-y: hidden;
}

html .left_listdays,
body .left_listdays {
  margin: 0;
  padding: 0;
}

html .left_listdays i,
body .left_listdays i {
  margin: 0;
}

html .left_loginbtn,
body .left_loginbtn {
  background-color: var(--statColor);
  color: var(--font-color);
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
}

html .left_day,
body .left_day {
  -webkit-transform: 0.1s ease-in-out;
          transform: 0.1s ease-in-out;
  position: relative;
  text-align: left;
  color: var(--font-color);
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

html .left_projectItem,
body .left_projectItem {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  margin: 5px;
  padding: 5px;
}

html .left_addProject,
body .left_addProject {
  margin-top: auto;
  height: 32px;
  left: 10;
  bottom: 62px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

html .left__title,
body .left__title {
  padding: 5px 15px;
  cursor: pointer;
  outline: none;
  background: none;
  font-size: 1.5rem;
  font-weight: bold;
}

html .left_color,
body .left_color {
  height: 30px;
  border-radius: 0 8px 8px 0;
  width: 28px;
  border: 0;
  background-color: var(--task);
}

html .left_addProjectBtn,
body .left_addProjectBtn {
  background-color: var(--task);
  border-radius: 8px 0 0 8px;
  width: 30px;
  height: 32px;
  color: var(--addProjectbtn);
}

html .left_Projects,
body .left_Projects {
  color: var(--font-color);
  border-radius: 0;
  border: 0;
  height: 30px;
  text-align: center;
  background-color: var(--task);
}

html .center,
body .center {
  -webkit-box-flex: 4;
      -ms-flex: 4 45%;
          flex: 4 45%;
  height: calc(100% - 85px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--center-color);
  font-size: 1.2rem;
}

html .center_tasktable,
body .center_tasktable {
  width: 100%;
  border-radius: 10px;
  background-color: var(--statColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .center_stat,
body .center_stat {
  width: 25%;
  color: var(--statColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html .center__number,
body .center__number {
  color: var(--number-color);
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
  text-align: center;
  font-size: 1.5rem;
}

html .center__text,
body .center__text {
  color: var(--font-color);
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: center;
}

html .center_addTaskdiv,
body .center_addTaskdiv {
  padding: 5px;
  margin: 10px;
  color: var(--task);
  height: 50px;
  overflow: hidden;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .center_emptyList,
body .center_emptyList {
  margin-top: 20px;
  color: var(--font-color);
  text-align: center;
}

html .center_foldericon,
body .center_foldericon {
  font-size: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .center_addtaskButton,
body .center_addtaskButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  color: var(--number-color);
  background-color: var(--task);
  border-radius: 8px 0 0 8px;
}

html .center_todoInput,
body .center_todoInput {
  outline: none;
  padding: 5px;
  color: var(--font-color);
  background-color: var(--task);
  letter-spacing: 1.2px;
  font-size: 1.2rem;
  border: 0;
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  text-align: center;
  border-radius: 0 8px 8px 0;
}

html .center_todolist > div,
body .center_todolist > div {
  -webkit-transform: 0.4s ease;
          transform: 0.4s ease;
  -webkit-filter: var(--shadow);
          filter: var(--shadow);
  max-height: 300px;
}

html .center_todolist,
body .center_todolist {
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  scroll-behavior: hidden;
  margin-top: 0;
  margin-bottom: 0;
}

html .center ul,
body .center ul {
  padding: 0;
}

html .center_divT,
body .center_divT {
  margin: 5px;
  overflow: none;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  height: 60px;
  max-width: 500px;
  margin-bottom: 5px;
  border-radius: 8px;
  -webkit-filter: var(--shadow);
          filter: var(--shadow);
  background-color: var(--task_color);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 10fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 0 0;
      grid-template-areas: 'complete-btn todo-item todo-item todo-item todo-item todo-item todo-item delete-btn play-btn des-btn' 'complete-btn clocks clocks clocks clocks clocks clocks delete-btn play-btn des-btn';
}

html .center_complete-btn,
body .center_complete-btn {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: complete-btn;
}

html .center_todo-item,
body .center_todo-item {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-area: todo-item;
}

html .center_delete-btn,
body .center_delete-btn {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 8;
  grid-area: delete-btn;
}

html .none,
body .none {
  display: none;
}

html .center_clocks,
body .center_clocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-area: clocks;
}

html .center_des-btn,
body .center_des-btn {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 10;
  grid-area: des-btn;
}

html .center_play-btn,
body .center_play-btn {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 9;
  grid-area: play-btn;
}

html .clock,
body .clock {
  color: var(--font-color);
  font-size: 2em;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transform: 0.3s ease-in-out;
          transform: 0.3s ease-in-out;
  width: 6em;
  border-radius: 20px;
  vertical-align: middle;
  text-align: center;
  display: none;
  position: absolute;
  bottom: 100px;
}

html .clock i,
body .clock i {
  color: var(--font-color);
}

html .clock_clockVisible,
body .clock_clockVisible {
  display: inline;
}

html .clock .fa-window-restore,
body .clock .fa-window-restore {
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--hover_color);
  font-size: 2rem;
}

html .clock_countdown,
body .clock_countdown {
  font-size: 2rem;
}

html .clock_fullscreen,
body .clock_fullscreen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: scale 0.3s ease-in-out 1;
          animation: scale 0.3s ease-in-out 1;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  color: var(--hover_color);
}

html .clock_fullscreen .clock_countdown,
body .clock_fullscreen .clock_countdown {
  font-size: 4rem;
}

html .clock_fullscreen .countdownButtons,
body .clock_fullscreen .countdownButtons {
  position: absolute;
  bottom: 30px;
  font-size: 40px;
  color: var(--hover_color);
}

html .clock_fullscreen .countdownButtonsNone,
body .clock_fullscreen .countdownButtonsNone {
  display: none;
}

html .clock_fullscreen .fa-window-restore,
body .clock_fullscreen .fa-window-restore {
  position: absolute;
  top: 5px;
  left: 5px;
  color: var(--hover_color);
}

html .clock_timerStart,
body .clock_timerStart {
  background: var(--timer);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: var(--hover_color);
}

html .clock_timerFinish,
body .clock_timerFinish {
  background-color: var(--timerFinishColor);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: var(--hover_color);
}

html .completed,
body .completed {
  opacity: 0.6;
  min-width: 300px;
}

html .completed .center_todo-item,
body .completed .center_todo-item {
  text-decoration: line-through;
}

html .completedTasks,
body .completedTasks {
  position: absolute;
  top: 85%;
  display: none;
}

html .input,
body .input {
  font-size: 1.2em;
  width: 90%;
  color: var(--fonts);
  border: 0;
}

html button,
body button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 0;
}

html li:hover,
body li:hover {
  color: var(--hover_color);
  cursor: pointer;
}

html .fa-minus-circle,
body .fa-minus-circle {
  pointer-events: none;
  -webkit-transform: 0.1s ease-in-out;
          transform: 0.1s ease-in-out;
}

html .center_pauseButton,
html .center_resetButton,
html .center_play-btn,
html .center_delete-btn,
html .center_complete-btn,
html .fa-play,
html .fa-play-circle,
html .center_des-btn,
html .fa-circle,
html .fa-check-circle,
html .pause-btn,
html .fa-pause,
html .fa-pause-circle,
html .fa-stop-circle,
html .fa-minus-circle,
html .fa-calendar-alt,
html .fa-list,
html .fa-repeat,
html .fas,
html .fa-times,
html .close-btn,
body .center_pauseButton,
body .center_resetButton,
body .center_play-btn,
body .center_delete-btn,
body .center_complete-btn,
body .fa-play,
body .fa-play-circle,
body .center_des-btn,
body .fa-circle,
body .fa-check-circle,
body .pause-btn,
body .fa-pause,
body .fa-pause-circle,
body .fa-stop-circle,
body .fa-minus-circle,
body .fa-calendar-alt,
body .fa-list,
body .fa-repeat,
body .fas,
body .fa-times,
body .close-btn {
  cursor: pointer;
  outline: 0;
  background: transparent;
  color: var(--font-color);
  font-size: 1.2rem;
  padding: 0.3rem;
}

html .center_play-btn,
html .fa-pause,
html .fa-pause-btn,
html .fa-check-circle,
html .fa-circle,
body .center_play-btn,
body .fa-pause,
body .fa-pause-btn,
body .fa-check-circle,
body .fa-circle {
  margin-right: 10px;
}

html .fall,
body .fall {
  -webkit-transform: translateX(17rem) rotateZ(1deg);
          transform: translateX(17rem) rotateZ(1deg);
  opacity: 0;
}

html .fa-circle,
html .fa-check,
html .fa-play,
html .fa-play-circle,
html .fa-check-circle,
html .fa-trash,
html .fa-pause,
html .fa-pause-circle,
body .fa-circle,
body .fa-check,
body .fa-play,
body .fa-play-circle,
body .fa-check-circle,
body .fa-trash,
body .fa-pause,
body .fa-pause-circle {
  cursor: pointer;
  pointer-events: none;
  border: 0;
}

html .fa-clock,
body .fa-clock {
  color: var(--addProjectbtn);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: left;
}

html .right_list--item > i,
body .right_list--item > i {
  margin: 0 10px;
}

html .right,
body .right {
  height: calc(100% - 85px);
  min-height: calc(100% - 120px);
  background: var(--right_background);
  -webkit-box-flex: 4;
      -ms-flex: 4 20%;
          flex: 4 20%;
}

html .right_list > li,
body .right_list > li {
  font-size: 1rem;
  -webkit-text-decoration: bold;
          text-decoration: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html .right_divT,
body .right_divT {
  color: var(--fonts);
  display: block;
  text-align: center;
}

html .right_todo-item,
body .right_todo-item {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-area: todo-item;
  text-align: center;
}

html .right_detals,
body .right_detals {
  overflow: hidden;
  font-size: 1rem;
  color: var(--font-color);
}

html .right_detals > li,
body .right_detals > li {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html .right_list,
body .right_list {
  margin: 10px;
  list-style: none;
  padding-left: 0;
  font-size: 1vw;
}

.controlButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.blur {
  opacity: 0.2;
}

.select {
  background-color: var(--statColor);
  margin: 5px 5px 0;
  padding: 5px;
  border-radius: 5px;
  background-position: 0 100%;
  color: var(--hovercolor);
}

.projectList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--font-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: 0.1s ease-in-out;
          transform: 0.1s ease-in-out;
}

.left_projectItem:hover,
.left_day:hover,
.fa-minus-circle:hover {
  background-color: var(--statColor);
  padding: 5px;
  border-radius: 5px;
  background-position: 0 100%;
  color: var(--hovercolor);
}

.projectSelect {
  padding: 10px;
  width: 100%;
}

.repeatDay {
  display: right;
}

.textareaDetals {
  outline: none;
  resize: none;
  width: 100%;
  height: 200px;
  color: var(--fonts);
  border-radius: 8px;
  background: var(--inputbackground);
}

select,
input [type='number'],
input [type='date'],
.numberOfTime,
.Projects {
  padding: 10px;
  color: var(--fonts);
  border-radius: 8px;
  background: var(--inputbackground);
}

select option {
  background: rgba(0, 0, 0, 0.9);
  color: var(--fonts);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

ol {
  padding: 0;
}

.topka {
  height: 30px;
  z-index: 99;
}

.projectList:hover {
  color: var(--hover_color);
}

.circle {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  margin: 0 5px 0 0;
  outline: 0;
  background: transparent;
  color: var(--font-color);
  font-size: 1rem;
  padding: 0.3rem;
}

.projectDelete {
  text-align: right;
  background: none;
}

.time {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  height: 2vw;
}

.score {
  margin-left: 5px;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
}

.scores {
  text-decoration: none;
}

.nav {
  padding: 5px;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: var(--nav_color);
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.nav_element {
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1rem;
  color: var(--btncolor);
  text-decoration: none;
  padding: 5px;
}

.nav_element:hover {
  cursor: pointer;
}

.selected {
  color: var(--font-color);
  background-color: #2876f9;
  background-image: linear-gradient(315deg, #2876f9 0%, #3e4397 74%);
  border-radius: 10px;
}

.fa-coffee {
  color: var(--hover_color);
  font-size: 30px;
}

@media screen and (max-width: 895px) {
  body {
    font-size: 16px;
  }
  .container {
    overflow-y: auto;
    border-radius: none;
    margin: 0;
    width: 100%;
    display: block;
  }
  .container .topbar {
    font-size: 1.2rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 5px;
    border-radius: 0;
    background-color: var(--statColor);
  }
  .container .topbar .fa-chevron-circle-left {
    cursor: pointer;
    background: transparent;
    color: var(--font-color);
    padding: 0.3rem;
    position: absolute;
    left: 10px;
    font-size: 1.5rem;
  }
  .container .topbar .titlebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 5px;
  }
  .container .center_tasktable {
    border-radius: 0;
  }
  .container .center__number {
    font-size: 1.2rem;
  }
  .container .center__text {
    font-size: 0.8rem;
    color: var(--font-color);
  }
  .container .center_addTaskdiv {
    width: 300px;
    min-height: 35px;
    margin: 5px;
    margin-left: 0;
  }
  .container .center_todoInput {
    font-size: 0.8rem;
  }
  .container .center_todo-item {
    font-size: 1rem;
  }
  .container .center_todo-item i {
    font-size: 3vw;
  }
  .container .time {
    font-size: 3vw;
  }
  .container .left {
    font-size: 1.5rem;
    overflow-x: hidden;
    height: calc(100% - 85px);
    width: 100% !important;
  }
  .container .left .sortTask {
    font-weight: 800;
    max-height: 60px;
    border-radius: 10px;
  }
  .container .left .history {
    background-color: #36096d;
    background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
  }
  .container .left .tomorrow {
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  }
  .container .left .someday {
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
  }
  .container .left .today {
    background-color: #4d5dfb;
    background-image: linear-gradient(315deg, #4d5dfb 0%, #08c8f6 74%);
  }
  .container .left_title {
    margin: 1px;
    font-size: 2rem;
    text-align: center;
  }
  .container .left_day {
    min-height: 40px;
    max-height: 60px;
    padding-top: 20px;
  }
  .container .left_day > i {
    padding: 0 15px 0 10px;
  }
  .container .left_projectItem {
    min-height: 40px;
    padding: 10px;
    color: var(--font-color);
  }
  .container .left_projectItem:nth-child(8n+1) {
    background-color: #6b0f1a;
    background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);
  }
  .container .left_projectItem:nth-child(8n+2) {
    background-color: #4c4177;
    background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
  }
  .container .left_projectItem:nth-child(8n+3) {
    background-color: #2876f9;
    background-image: linear-gradient(315deg, #2876f9 0%, #6d17cb 74%);
  }
  .container .left_projectItem:nth-child(8n+4) {
    background-color: #4c4177;
    background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
  }
  .container .left_projectItem:nth-child(8n+5) {
    background-color: #ffc857;
    background-image: linear-gradient(316deg, #ffc857 0%, #3e2f5b 74%);
  }
  .container .left_projectItem:nth-child(8n+6) {
    background-color: #c73e1d;
    background-image: linear-gradient(315deg, #c73e1d 0%, #a23b72 37%, #2e86ab 100%);
  }
  .container .left_projectItem:nth-child(8n+7) {
    background-color: #972239;
    background-image: linear-gradient(315deg, #972239 0%, #db6885 74%);
  }
  .container .left_projectItem:nth-child(8n+8) {
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
  }
  .container .left_addProject {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: 10vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: -webkit-sticky;
    position: sticky;
    height: 60px;
    top: 95vh;
  }
  .container .left_addProjectBtn {
    height: 52px;
    width: 52px;
    min-height: 52px;
    min-width: 52px;
  }
  .container .left_Projects {
    font-size: 1rem;
    height: 50px;
    min-width: 70vw;
  }
  .container .left_color {
    padding: 10px;
  }
  .container .circle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 15px;
    width: 15px;
    margin: 0 10px;
  }
  .leftnone {
    display: none;
  }
  .right {
    width: 100vw;
    right: 0;
    -webkit-backdrop-filter: blur(9px);
            backdrop-filter: blur(9px);
    color: var(--right_background);
    position: absolute;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: -webkit-transform 0.9s 0.9s ease-in-out;
    transition: -webkit-transform 0.9s 0.9s ease-in-out;
    transition: transform 0.9s 0.9s ease-in-out;
    transition: transform 0.9s 0.9s ease-in-out, -webkit-transform 0.9s 0.9s ease-in-out;
  }
}

@media screen and (max-width: 480px) {
  .container .left {
    overflow-x: hidden;
    font-size: 1rem;
    padding: 4px;
    height: 32px;
    width: 32px;
    min-height: 52px;
    min-width: 52px;
  }
  .container .left_Projects {
    font-size: 1rem;
    height: 50px;
    min-width: 50vw;
  }
}

.x-note {
  position: absolute;
  top: 20px;
  right: 20px;
}

.dss:hover {
  stroke-dasharray: 2;
  color: var(--hover_color);
}

ol > li:hover,
.projectList:hover,
.fa-minus-circle:hover,
input[type='date']:hover,
.projectSelect:hover,
.editing-view-port:hover,
.partOfTime:hover,
textarea:hover,
ol > li:active,
> .projectList:active,
.fa-minus-circle:active,
input[type='date']:active,
.projectSelect:active,
.editing-view-port:active,
.partOfTime:active,
textarea:active,
input[type='number']:hover {
  color: var(--hover_color);
  cursor: pointer;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  border: 0;
}

.centerclock {
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#color {
  height: 32px !important;
  width: 32px !important;
}
/*# sourceMappingURL=style.css.map */