html,
body {
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
  font-family: "Noto Sans JP", sans-serif;
}

body {
  background-color: black;
  color: white;
}

.app {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.container {
  border-radius: 10px;
  background-color: #7745458c;
  list-style: none;
  display: flex;
  align-items: center;
  width: 800px;
  height: 600px;
  flex-direction: column;
}

.clock,
.addTask,
.tasksToDo {
  background: rgb(20, 20, 20);
  padding: 5px;
  margin: 10px;
  color: white;
  font-size: 2em;
}

.clock {
  width: 6em;
  border-radius: 20px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.todoInput {
  background-color: #ffffff;
  color: rgb(177, 118, 118);
  letter-spacing: 1.2px;
  font-size: 1.1rem;
  border: 0;
  flex: 6;
  text-align: center;
}

.addTaskdiv {
  width: 45%;
  display: flex;
  justify-content: center;
}

.input {
  font-size: 1.2em;
  width: 90%;
  background-color: #3c3e57;
  color: rgb(114, 113, 113);
  border: 0;
}

.addtask {
  display: flex;
  width: 10%;
  background-color: #ffffff;
  color: rgb(114, 113, 113);
  border: 0;
}

.addtask:hover {
  color: white;
}
.todolist {
  width: 55%;
}

.todolist > div {
  transition: all 0.5s ease;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}

.task {
  display: flex;
  justify-content: center;
}

button {
  flex: 1;
}

li {
  list-style-type: none;
  padding: 0.3rem;
  flex: 6;
  text-align: center;
}

i {
  flex: 1;
}

task {
  display: flex;
}

.divT {
  margin-bottom: 2px;
  border-radius: 15px;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
  display: flex;
  background-color: #141414;
}

button {
  cursor: pointer;

  border: 0;
}

.play-btn,
.delete-btn,
.complete-btn {
  background-color: #141414;

  font-size: 1.125rem;
  padding: 0.3rem;
}

fa-pause-btn {
  color: rgb(3, 78, 3);
}

.play-btn,
.fa-pause,
.fa-pause-btn {
  color: rgb(3, 78, 3);
  margin-right: 10px;
}

.delete-btn {
  color: rgb(116, 6, 6);
}

.complete-btn {
  color: white;
}

.addtaskButton {
  font-size: 1.1rem;
  background-color: #ffffff;
  color: #b17676;
}

// .fa-pause-btn,

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.red {
  background-color: red;
  color: red;
}

#taksCompleted {
  position: absolute;
  top: 50%;
  top: 80%;
}
//animations
.fall {
  transform: translateX(17rem) rotateZ(1deg);
  opacity: 0;
}
.checking {
  transform: translateY(17rem);
  opacity: 1;
}

.timerStart {
  transition: all 0.5s ease;
  background-color: rgb(197, 93, 93);
  color: white;
}

.timerFinish {
  transition: all 0.5s ease;
  background-color: rgb(49, 63, 124);
  color: white;
}

//* top table
.tasktable {
  width: 100%;
  background-color: rgb(15, 15, 15);
  display: flex;
  // grid-gap: 1rem;
  justify-content: center;

  .stat {
    width: 25%;
    background-color: rgb(15, 15, 15);
    display: flex;
    flex-direction: column;
    font-size: 20px;

    number {
      color: rgb(68, 26, 26);
      flex: 10;
      text-align: center;
      font-size: 2rem;
    }

    .text {
      flex: 2;
      text-align: center;
    }
  }
}

.fa-circle,
.fa-check,
.fa-play,
.fa-check-circle,
.fa-trash,
.fa-pause {
  pointer-events: none;
  border: 0;
}

.completedTasks {
  position: absolute;
  top: 85%;
  display: none;
}

.fa-clock {
  display: flex;
  position: left;
}
