//Virables
$backgroundcolor: #7745458c;
$green:rgb(3, 78, 3);
$red: rgb(116, 6, 6);
$blue: rgba(49, 63, 124, 0.725);
$gradient_color: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);


//New Color Project
$backgroundnew: #161621;
$backgrounddarker: #14141C;
$butColor: #A6DFD8;
$fonts: #757678;
$task: #23222D;

// Mixins
@mixin buttonstyle {
  background-color: grey;
  color: white;

}

@mixin hover {
  color: rgb(250, 250, 250);
  cursor: pointer;
}

@mixin left_addproject {
  // position: absolute;
  // bottom: 0;

  text-align: center;
  // height: 30px;
  font-size: 15px;
  border: none;
  color: rgba(255, 255, 255, 0.550);
  border-radius: 8px 0px 0px 8px;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.5));
  background: linear-gradient(147.14deg, rgba(0, 0, 0, 0.7) 18.33%, rgba(0, 0, 0, 0.5) 77.77%);
}

//animation
@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(0);
    transform-origin: 50% 50%;
  }

  50% {
    opacity: 2;
    transform: scale(1);
    transform-origin: 50% 50%;
  }

  100% {
    opacity: 3;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    opacity: 0.0;
  }

  25% {
    -webkit-transform: scale(1.1);
    opacity: 0.1;
  }

  50% {
    -webkit-transform: scale(1.2);
    opacity: 0.2;
  }

  75% {
    -webkit-transform: scale(1.3);
    opacity: 0.3;
  }

  100% {
    -webkit-transform: scale(1.4);
    opacity: 0.4;
  }
}


@keyframes reducing {
  from {
    transform: scaleX(1);
    // transform:  scale(1);
  }

  to {
    transform: scaleX(0);
    // transform:  scale(0);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes enlarging {
  from {
    transform: scaleX(0);
    // transform:  scale(1);
  }

  to {
    transform: scaleX(1);
    // transform:  scale(0);
  }
}


html,
body {
  display: grid;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: url(background5.png);
  color: white;
  height: 100%;
  // background-size: 150% 150%;



  .container {
    // margin: auto;
    // width: 90%;
    // height: 100%;
    // height: 700px;
    // border-radius: 30px;
    list-style: none;
    flex-flow: row wrap;
    backdrop-filter: blur(5px);
    // overflow: hidden;
    display: flex;
    position: relative;

  }

  .container>* {
    padding: 10px;
    flex: 1 100%;

    &__header {
      background: linear-gradient(147.14deg, rgba(24, 18, 18, 0.6) 18.33%, rgba(0, 0, 0, 0.2) 77.77%);
      max-height: 25px;
    }
  }



  .left {
	margin-top:auto;

    // max-width: 250px;
    flex-basis: 100px;
    // position: relative;
    align-items: stretch;
    // justify-content: space-between;
    display: flex;
    flex-direction: column;

    flex-shrink: 2;
    height: 100%;
    background: linear-gradient(147.14deg, rgba(0, 0, 0, 0.7) 18.33%, rgba(0, 0, 0, 0.2) 77.77%);
    // flex: 2 20%;

    &_day {
      position: relative;
      text-align: left;
      color: rgba(255, 255, 255, 0.55);
      // margin-left: 10px;
    }

    &_projectItem {
      display: grid;
      grid-template-columns: 3fr 1fr;
    }


    &_addProject {
		margin-top:auto;

      
      display: flex;
      // position: absolute;
      left: 10;
      bottom: 62px;
      width: 100%;
      display: -ms-flexbox;
      display: -webkit-flex;
      flex-wrap: nowrap;
    }

    &_addProjectBtn {
      width: 30px;
      color: red;
      // flex: 1 1 5px;
    }




    &_color {
      width: 20px;
      height: 20px;
      border-radius: 20px;
      // flex: 1 1 0;
    }

    &_addProjectBtn,
    &_Projects,
    &_color {
      @include left_addproject;
    }

    &_Projects {
      // flex: 3 1 0;
      border-radius: 0px 0px 0px 0px;

    }
    


    &_color {
      border-radius: 0px 8px 8px 0px;

    }


  }

  .none {
    display: none;
  }

  .center {
    position: relative;
    flex: 4 45%;

    height: 100%;
    display: flex;
    flex-direction: column;
    // flex: 3 30%;
    align-items: center;
    background: linear-gradient(147.14deg, rgba(0, 0, 0, 0.7) 18.33%, rgba(0, 0, 0, 0.2) 57.77%);

    //  flex: 2 10%;
    &_tasktable {
      width: 100%;
      border-radius: 10px;
      background-color: rgb(15, 15, 15);
      display: flex;
      justify-content: center;
    }

    &_stat {
      width: 25%;
      background-color: rgb(15, 15, 15);
      display: flex;
      flex-direction: column;
    }

    &__number {
      color: rgb(68, 26, 26);
      flex: 10;
      text-align: center;
      font-size: 2rem;
    }

    &__text {
      flex: 2;
      text-align: center;
    }

    &_addTaskdiv {
      padding: 5px;
      margin: 10px;
      color: white;
      font-size: 2em;
      margin-left: 40px;
      width: 45%;
      display: flex;
      justify-content: center;
    }

    &_addtaskButton {
      padding: 5px 15px 5px 15px;
      font-size: 1.1rem;
      background-color: #ffffff;
      color: #b17676;
      border-radius: 8px 0px 0px 8px;
    }

    &_todoInput {
      padding: 5px;
      color: rgb(177, 118, 118);
      letter-spacing: 1.2px;
      font-size: 1.2rem;
      border: 0;
      flex: 6;
      text-align: center;
      border-radius: 0px 8px 8px 0px;
    }

    &_todolist>div {
      
      transition: all 0.4s ease;
      filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    } 
    ul{
padding:0px;
    }

    &_divT {
      height: 50px;
      max-width: 500px;
      margin-bottom: 5px;
      border-radius: 8px;
      filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
      background-color: #141414;
      display: grid;
      grid-template-columns: 1fr 10fr 1fr 1fr 1fr;
      grid-template-rows: 1.5fr 1fr;
      gap: 0px 0px;
      grid-template-areas:
        "complete-btn todo-item todo-item todo-item todo-item todo-item todo-item delete-btn play-btn des-btn"
        "complete-btn clocks clocks clocks clocks clocks clocks delete-btn play-btn des-btn";
    }

    &_complete-btn {
      grid-area: complete-btn;
    }

    &_todo-item {
      grid-area: todo-item;
      text-align: left;
    }

    &_delete-btn {
      grid-area: delete-btn;
    }
  }

  .center_clocks {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    grid-area: clocks;
  }

  .center_des-btn {
    grid-area: des-btn;
  }

  .center_play-btn {
    grid-area: play-btn;
  }

  .clock {
    background: rgba(20, 20, 20, 0.725);
    padding: 5px;
    margin: 10px;
    color: white;
    font-size: 2em;
    backdrop-filter: blur(5px);
    transition: all .3s ease-in-out;
    // margin: 0px;
    width: 6em;
    border-radius: 20px;
    vertical-align: middle;
    text-align: center;
    display: none;
    position: absolute;
    bottom: 100px;

    i {
      // background-color: red;
      color: rgba(255, 255, 255, 0.550);
    }

    &_clockVisible {
      display: inline;
    }

    &_fullscreen {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      animation: scale 0.3s ease-in-out 1;
      margin-left: auto;
      margin-right: auto;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 30px;

      #countdown {
        font-size: 4rem;
      }

      .countdownButtons {
        position: absolute;
        bottom: 30px;
      }

      .countdownButtonsNone {
        display: none;
        background-color: pink;
      }

      .fa-window-restore {
        position: absolute;
        top: 5px;
        left: 5px;
        color: white;
      }
    }
    &_timerStart {

      background: linear-gradient(246.9deg, rgba(206, 76, 76, 0.65) 56.87%, rgba(202, 84, 84, 0.904515) 79.48%, rgba(197, 93, 93, 0.75) 96.13%);
      // opacity: 0.4;
      border-radius: 15px;
      backdrop-filter: blur(5px);
      color: white;
    }
  
    &_timerFinish {
  
      background-color: $blue;
      backdrop-filter: blur(5px);
      color: white;
  
    }
    
  }

  .completed {
    text-decoration: line-through;
    opacity: 0.6;
  }

  .completedTasks {
    position: absolute;
    top: 85%;
    display: none;
  }



  .input {
    font-size: 1.2em;
    width: 90%;
    background-color: #3c3e57;
    color: rgb(114, 113, 113);
    border: 0;
  }

  button {
    flex: 1;
    border: 0;
  }

  li {
    list-style-type: none;
    padding: 0.3rem;
    flex: 6;
    text-align: center;
  }

  i {
    flex: 1;
    background: transparent;
  }

  li:hover {
    @include hover;
  }

//! icons --
  .center_pauseButton,
  .center_resetButton,
  .center_play-btn,
  .fa-pause,
  .center_delete-btn,
  .center_complete-btn,
  .fa-play,
  .fa-play-circle,
  .center_des-btn,
  .fa-circle,
  .fa-window-restore,
  .fa-check-circle,
  .pause-btn,
  .fa-pause,
  .fa-pause-circle,
  .fa-stop-circle,
  .fa-minus-circle,
  .fa-calendar-alt,
  .fa-list,
  .fa-repeat,
  .close-btn {
    cursor: pointer;
    outline: 0;
    background: transparent;
    color: rgb(88, 88, 88);
    font-size: 1.2rem;
    padding: 0.3rem;
  }
  .center_play-btn,
  .fa-window-restore,
  .fa-pause,
  .fa-pause-btn,
  .fa-check-circle,
  .fa-circle {
    margin-right: 10px;
  }

  .fa-clock {
    color: $red;
  }

  //animations
  .fall {
    transform: translateX(17rem) rotateZ(1deg);
    opacity: 0;
  }

  //icon 
  .fa-circle,
  .fa-check,
  .fa-play,
  .fa-play-circle,
  .fa-check-circle,
  .fa-trash,
  .center_delete-btn>.fa-minus-circle,
  .fa-pause,
  .fa-pause-circle // .fa-minus-circle

    {
    cursor: pointer;
    pointer-events: none;
    border: 0;
  }

  .fa-clock {
    display: flex;
    position: left;
  }

 




  .right {
    height: 100%;
    background-color: rgb(1, 27, 1);
    background: linear-gradient(147.14deg, rgba(0, 0, 0, 0.7) 18.33%, rgba(0, 0, 0, 0.2) 77.77%);
    flex: 4 20%;


    &_detals {
      font-size: 1rem;
      color: rgba(255, 255, 255, 0.550);
    }
  
    .detals>li {
      flex-direction: row;
      text-align: left;
      display: flex;
    }

    &_list {
      list-style: none;
      padding-left: 0;
      float: left;
      font-size: 1vw;

    
    }
    
    ul>li {
      font-size: 1vw;
      text-decoration: bold;
      display: flex;
      justify-content: space-between;
    }


  }

  
}




.controlButtons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.blur {
  opacity: 0.2;

}






ol>li:hover,
>.projectList:hover,
.fa-minus-circle:hover,
input[type="date"]:hover,
.projectSelect:hover,
.editing-view-port:hover,
.partOfTime:hover,
textarea:hover,
input[type="number"]:hover {
  @include hover;

}





.projectSelect {
  margin-left: 3px;
  width: 100%;
}


textarea {
  outline: none;
  resize: none;
  width: 100%;
  height: 250px;
  border: none;
  color: rgba(255, 255, 255, 0.550);
  border-radius: 8px;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
  background: linear-gradient(147.14deg, rgba(0, 0, 0, 0.7) 18.33%, rgba(0, 0, 0, 0.2) 77.77%);
}

select,
input[type="number"],
input[type="date"],
.Projects {

  // border: grey;
  border: none;
  color: rgba(255, 255, 255, 0.550);
  border-radius: 8px;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
  background: linear-gradient(147.14deg, rgba(0, 0, 0, 0.7) 18.33%, rgba(0, 0, 0, 0.2) 77.77%);
}


select option {
  // margin: 20px;
  background: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.550);

  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}









ol {
  padding: 0;
}

.topka {
  height: 30px;
  z-index: 99;
}

.projectList {
  display: flex;
  margin-bottom: 5px;

}

.circle {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  margin: 0px 5px 0px 0px;
  outline: 0;
  background: transparent;
  color: rgb(88, 88, 88);
  font-size: 1rem;
  padding: 0.3rem;
}

i {
  text-align: right;

}

input {

  select:focus,
  input:focus,
  textarea:focus {
    outline: 0;
    outline-color: transparent;
    outline-style: none;
  }
}






.projectDelete {
  text-align: right;
  background: none;




}

.time {
  order: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  align-self: auto;
}

.score {
  margin-left: 5px;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}



//mobile version

@media screen and (max-width: 895px) {
  .container {
    border-radius: none;
    margin: 0px 0px 0px 0px;
    width: 100%;
    display: block;
    // background-color: red;

    .center__number{
      font-size: 1.2rem;
      color: pink;

    }
    .center__text{
font-size: 0.8rem;
    } 

.left{
	font-size: 2rem;

  width: 100%!important;
 
  &_title{
	  font-size: 2.6rem;
  }
  &_day>i{
	font-size: 2.6rem;
	padding: 0px 15px 0px 10px;
 
  }
  &_projectItem{


  }
  .circle{
	height: 30px;
    width: 30px;
	padding: 10px 15px 0px 10px;
	margin-right: 10px;
}
.projectDelete>i{
	height: 30px;
    width: 30px;
}

}
    .leftnone {
     display: none;

    
    }

    .right{
      width: 100%;
    }

   

  }

 
 


}



//Navigation bottom
.nav{
  position: absolute;
  bottom: 0;
  // position: fixed;
  // bottom: 0;
  width: 100%;
//   height: 110px;
  display: flex;
  overflow-x: auto;
  flex-direction: row;
  background-color: #0a0c0c;


  &_element{
    text-align: center;
    justify-content: center;

    
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: #ffffff;
    text-decoration: none;
  
  }

  &-inbuild{
	  
	  background-color: #757678;
  }
}
