$centercolor: #171721;
$rightbackground: #14141c;
$timerFinishColor: rgba(49, 63, 124, 0.725);
$headerbackground: #161624;

// $headerbackground: #484869;

$statColor: #22222c;
$leftbackground: #14141c;
$backgrounddarker: #14141c;
$navcolor: #14141c;
$taskcolor: #28222c;
$timer: linear-gradient(246.9deg, rgba(206, 76, 76, 0.65) 56.87%, rgba(202, 84, 84, 0.904515) 79.48%, rgba(197, 93, 93, 0.75) 96.13%);
$addProject: linear-gradient(147.14deg, rgba(0, 0, 0, 0.7) 18.33%, rgba(0, 0, 0, 0.5) 77.77%);
$numbercolor: #f1998f;
$lightcolor: #a9ded8;
$darkfont: #1c2426;
$fontcolor: #fff;
$addProjectbtn: #b17676;
$shadow: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
$hovercolor: rgb(250, 250, 250);
$darkfont: #fff;
$fonts: #fff;
$task: #23222d;
$tiles1: #4e344d;
$tiles2: #955165;
$tiles3: #fab261;
$tiles4: #083513;
$tiles5: #300d30;
$tiles6: #383b0f;
$tiles7: #3a0505;
$tiles8: #017514;
$inputbackground: linear-gradient(147.14deg, rgba(0, 0, 0, 0.7) 18.33%, rgba(0, 0, 0, 0.2) 77.77%);
$btncolor: #808080;
//! Light theme colors
$centercolorLight: #f7f6f0;
$rightbackgroundLight: #abada2;
$timerFinishColorLight: rgba(255, 255, 255, 0.725);
$backgrounddarkerLight: #000;
$headerbackgroundLight: #b2bfcc;
$statColorLight: #f2f1ea;
$leftbackgroundLight: rgb(98, 96, 116);
$navcolorLight: #ccc;
$taskcolorLight: rgb(155, 154, 154);
$timerLight: linear-gradient(246.9deg, rgba(206, 76, 76, 0.65) 56.87%, rgba(202, 84, 84, 0.904515) 79.48%, rgba(197, 93, 93, 0.75) 96.13%);
$addProjectLight: linear-gradient(147.14deg, rgba(0, 0, 0, 0.7) 18.33%, rgba(0, 0, 0, 0.5) 77.77%);
$numbercolorLight: #000;
$lightcolorLight: #0c0c0c;
$darkfontLight: rgb(0, 0, 0);
$fontcolorLight: rgb(0, 0, 0);
$addProjectbtnLight: #e0e0e0;
$shadowLight: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
$hovercolorLight: rgb(129, 129, 129);
$darkfontLight: #ccbaba;
$fontsLight: rgb(8, 8, 8);
$taskLight: #fff;
$tiles1Light: #db8dd9;
$tiles2Light: #e489a4;
$tiles3Light: #ecb06c;
$tiles4Light: #7178b8;
$tiles5Light: #995f99;
$tiles6Light: #9fa551;
$tiles7Light: #b16a6a;
$tiles8Light: #59aa66;
$inputbackgroundLight: linear-gradient(147.14deg, rgba(226, 180, 180, 0.7) 18.33%, rgba(255, 255, 255, 0.2) 77.77%);
$btncolorLight: #808080;
